*{
    margin: 0px;
    padding: 0px;
}
/*shared font Style*/
.body{font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
}
.title{
    font-size: 80px;
    font-weight: 800px;
    color: #272727;
}
.flower-describe{
    font-size: 18px;
    color: rgba(39, 39, 39, 0.60);
    width: 630px;
}
.img-flower{
    width: 335px;
    height: 500px;
}
.btn{
    padding: 20px 43px;
    border-radius: 8px;
    border:none;
    background-color: #E55473;
    color:white;
    font-szie:20px;
    font-weight: blod;
}

.beautiful-flower{
    display: flex;
    justify-content: space-around;
    background-color:rgb(226, 169, 178);
    padding-top:50px;
}
/*Feature style*/

.flower{
    width: 350px;
    height: 350px;
}

/*All card Style*/
.card{
    position: relative;
}
.first{
    background-color: red;
    width: 360px;
    height: 360px;
    border-top-left-radius: 165px;
    border-top-right-radius: 165px;
    position:absolute;

}
.second{
    position: absolute;
}
.card2{
    position: relative;
}
.third{
    background-color: rgb(17, 255, 0);
    width: 360px;
    height: 360px;
    border-top-left-radius: 165px;
    border-top-right-radius: 165px;
    position:absolute;
}
.fourth{
    position: absolute;
}

.card3{
    position: relative;
}
.fifth{
    background-color: rgb(187, 252, 185);
    width: 360px;
    height: 360px;
    border-top-left-radius: 165px;
    border-top-right-radius: 165px;
    position: absolute;
}
.six{
    position: absolute;
}

.feature_box{
    display: flex;
    gap: 390px;
    padding-top: 50px;
    justify-content: center;
    padding-right: 350px;
    
    
}
.feature{
    text-align: center;

}
.feature-describe{
    font-size: 15px;
    width: 30%;
    margin: auto;
    color: gray;
    
}
.feature-title{
    font-size:35px;
    font-weight: bold;
    
}
.feature_Container{
 margin-top: 40px;
}

.hot-deal-container{
    margin-top: 50px;
    background-color: #fde1f5;
}
span{
    color: #f7456b;
}
.deal-describe{
    margin-top: 10px;
    margin-bottom: 10px;
    color: gray;
    width: 400px;
}
.hot-deal-container{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.bt{
    text-align: center;
}

.flower-name{
    margin-top: 400px;
    display: flex;
    list-style: none;
    justify-content:center;
    gap: 300px;
    font-size: 20px;
}
/*Instagram style*/
.Instragram-Container{
    margin-top: 40px;
    text-align: center;
    
    
}
.insta-title{
    font-size:35px;
    font-weight: bold;
    margin-bottom: 10px;

}
.instagram-describe{
    margin: auto;
    width: 30%
    
    
}
.first-two-flower{
    display: flex;
    gap: 10px;
}
.second-two-flower{
    display: flex;
    gap: 10px;
}
.flower-card-container{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 80px;
    
}
.image-flower{
    width: 300px;
    height: 300px;
}
/* latest style  */
.latest-title{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.latest{
    color: gray;
}
input{
    padding: 20px 200px;
}
.latest-Container{
    width: 70%;
    margin: auto;
    background-image: url(../Flower/Rectangle\ 9.png);
}
.ft-title{
    color: white;
    font-size: 36px;
    margin-bottom: 10px;
}
.foot-des{

    color: gray;
    width: 400px;
    margin: auto;
}
small{
    color: white;
}

.footer{
    margin-top: 50px;
    text-align: center;
    background-color: #272727;
    height: 300px;

}


